<!DOCTYPE html>
<html lang="fr">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
    <h1>Compte</h1>
    <p>
        <%=user.avatar %>
        <%=user.username %>
    </p>
    <p>
    </p>    
    <%- include('./partials/footer')%>
</body>
</html>